<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.shamniestate.shamniestate">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.ShamniEstate"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".ui.home.UserPropertyDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".ui.misc.HomeLoanEnquiryActivity"
            android:exported="false" />
        <activity
            android:name=".ui.misc.EmiCalculatorActivity"
            android:exported="false" />
        <activity
            android:name=".ui.misc.ChatSupportActivity"
            android:exported="false" />
        <activity
            android:name=".ui.misc.AboutUsActivity"
            android:exported="false" />
        <activity
            android:name=".ui.home.UserHomeActivity"
            android:exported="false" />
        <activity
            android:name=".ui.HomeActivity"
            android:exported="false" />
        <activity
            android:name=".ui.auth.SignupAuthenticationActivity"
            android:exported="false" />
        <activity
            android:name=".ui.auth.BankingInformationActivity"
            android:exported="false" />
        <activity
            android:name=".ui.auth.SignupDocumentsActivity"
            android:exported="false" />
        <activity
            android:name=".ui.auth.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".ui.auth.SignupUserInfoActivity"
            android:exported="false" />
        <activity
            android:name=".ui.MainActivity"
            android:exported="false" />
        <activity
            android:name=".ui.getstarted.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyA19w6o9vSEha7kwN00jpmWB4vKetJkAmk" />
    </application>

</manifest>